.main-content {
  background-color: #d5d5e7 !important;
}

.header-main {
  flex-grow: 1;
  background-color: rgb(117, 141, 206);
  height: 3em;
  border-radius: 8px;
  box-shadow: 4px 4px grey;    
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.orientation-horizontal {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.app-background {
  padding: 10px;
}

.app-content {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 300px;
  padding-top: 10px;
}

.component-paper {  
  margin: 20px;
  padding: 15px;
  min-height: 300px;
}

.tiled-paper {
  flex-grow: 1 !important;
  padding: 3px;
  margin: 5px;
}