################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pge_usage

obj
bin
.suo
.vs
.vscode
v16
